.nav-item:hover .header_notify {
    display: block;
}

.header_notify {
    position: absolute;
    top: 115%;
    left: 0px;
    width: 606px;
    height: 213px;
    border: 1px solid #D3D3D3;
    cursor: default;
    box-sizing: border-box;
    background-color: white;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.2s;
    padding: 16px;
    display: none;
}
@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header_notify::before {
    content: "";
    border-width: 15px 19px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: 4%;
    top: -30px;
}
.header_notify::after {
    content: "";
   display: block;
    width: 120px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: -10px;
}
.header_notify_link {
    width: 100%;
    text-decoration: none;
    width: 24%;
    float: left;
    margin-right: 1%;
    padding: 5px;
}
.header_notify_list {
    padding-left: 0;
}
.header_notify_item a{
    text-decoration: none;
}
.item_link{
    background: red;
}
.header_notify_item a:hover {
    background: #e0e0e0;
    color: #3939ff;
}
.item_separate:hover .header_qr {
    display: block;
}
.header_qr {
    width: 186px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 20px;
    display: none;
    animation: fadeIn ease-in 1s;
}

    .header_qr::before {
        content: "";
        display: block;
        height: 20px;
        width: 100%;
        left: 0;
        top: -16px;
        position: absolute;
    }
.item_separate::after {
    content: "";
    display: block;
    position: absolute;
    border: 0.5px solid rgba(255,255,255,.5);
    height: 15px;
    right: -9px;
    top: 5px;
}
.header_qr_img {
    width: 100%;
}

.header_qr_apps {
    display: flex;
    justify-content: space-between;
}

.header-qr-dowload-img {
    height: 18px;
}

.header_qr_link:nth-child(1) {
    margin-left: 11px;
}

.header_qr_link:nth-child(2) {
    margin-right: 11px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.item_separate {
    color: rgba(255,255,255,.5);
}
.header_navbar_item {
    color: rgba(255,255,255,.5);
}
.header_navbar_icon {
    color: rgba(255,255,255,.5);
}