.camon {
    font-style: italic!important;
    text-align: right!important;
    float: right!important;
    margin-right: 500px!important;
}
.h3{
    text-align: center;
}
#date {
    margin-right: 550px !important;
    float: right !important;
}
