USE [master]
GO
/****** Object:  Database [BDS]    Script Date: 5/24/2020 10:51:23 PM ******/
CREATE DATABASE [BDS]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'BDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BDS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'BDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BDS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
--GO
--ALTER DATABASE [BDS] SET COMPATIBILITY_LEVEL = 120
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [BDS].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [BDS] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [BDS] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [BDS] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [BDS] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [BDS] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [BDS] SET AUTO_CLOSE OFF 
--GO
--ALTER DATABASE [BDS] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [BDS] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [BDS] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [BDS] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [BDS] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [BDS] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [BDS] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [BDS] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [BDS] SET  DISABLE_BROKER 
--GO
--ALTER DATABASE [BDS] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [BDS] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [BDS] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [BDS] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [BDS] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [BDS] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [BDS] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [BDS] SET RECOVERY SIMPLE 
--GO
--ALTER DATABASE [BDS] SET  MULTI_USER 
--GO
--ALTER DATABASE [BDS] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [BDS] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [BDS] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [BDS] SET TARGET_RECOVERY_TIME = 0 SECONDS 
--GO
--ALTER DATABASE [BDS] SET DELAYED_DURABILITY = DISABLED 
--GO
--USE [BDS]
--GO
--/****** Object:  UserDefinedFunction [dbo].[func_CryptData]    Script Date: 5/24/2020 10:51:23 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
create function [dbo].[func_CryptData] (@Data varchar(100))
returns varchar(256)
as
begin
return convert(varchar(256),HASHBYTES('SHA2_256',@Data),2)
end
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[idBill] [int] IDENTITY(1,1) NOT NULL,
	[idCustom] [int] NOT NULL,
	[idUserNV] [int] NOT NULL,
	[idBuild] [int] NOT NULL,
	[totalPrice] [int] NULL,
	[createDate] [datetime] NULL,
	[content] [ntext] NULL,
	[cmndTruoc] [nvarchar](55) NULL,
	[cmndSau] [nvarchar](55) NULL,
	[ngayKyTen] [datetime] NULL,
	[kyten] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BUILDING]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUILDING](
	[idBuild] [int] IDENTITY(1,1) NOT NULL,
	[idWard] [int] NOT NULL,
	[idUser] [int] NOT NULL,
	[idType] [int] NOT NULL,
	[nameBuild] [nvarchar](55) NULL,
	[street] [nvarchar](55) NULL,
	[floorarea] [decimal](18, 0) NULL,
	[floor] [int] NULL,
	[conent] [ntext] NULL,
	[price] [decimal](18, 0) NULL,
	[depositDate] [nvarchar](50) NULL,
	[nameManager] [nvarchar](55) NULL,
	[phoneManager] [nvarchar](12) NULL,
	[idHuong] [int] NULL,
	[idStatus] [int] NULL,
	[deposits] [nvarchar](50) NULL,
 CONSTRAINT [PK__BUILDING__609ABD04CFA23A7A] PRIMARY KEY CLUSTERED 
(
	[idBuild] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CITY]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[idCity] [int] IDENTITY(1,1) NOT NULL,
	[nameCity] [nvarchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[idCustom] [int] IDENTITY(1,1) NOT NULL,
	[nameCustom] [nvarchar](50) NULL,
	[phoneCustom] [nvarchar](12) NULL,
	[emailCustom] [nvarchar](50) NULL,
	[addressCustom] [nvarchar](50) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[idCustom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[idDistrict] [int] IDENTITY(1,1) NOT NULL,
	[nameDistrict] [nvarchar](55) NULL,
	[idCity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDistrict] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HUONG]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUONG](
	[idHuong] [int] IDENTITY(1,1) NOT NULL,
	[nameHuong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HUONG] PRIMARY KEY CLUSTERED 
(
	[idHuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IMAGE]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE](
	[idImage] [int] IDENTITY(1,1) NOT NULL,
	[nameImage] [nvarchar](50) NULL,
	[idBuild] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[idNews] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[titleNews] [nvarchar](200) NULL,
	[Description] [ntext] NULL,
	[createDate] [datetime] NULL,
	[Img] [nvarchar](250) NULL,
 CONSTRAINT [PK__NEWS__ABB4148F684B84FD] PRIMARY KEY CLUSTERED 
(
	[idNews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUHEN]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUHEN](
	[idPhieu] [int] IDENTITY(1,1) NOT NULL,
	[idCustom] [int] NOT NULL,
	[idUserNV] [int] NOT NULL,
	[idBuild] [int] NOT NULL,
	[contentPhieu] [nvarchar](255) NULL,
	[createPhieu] [datetime] NULL,
	[ngayhen] [datetime] NULL,
 CONSTRAINT [PK__PHIEUHEN__DF4093D8842436AD] PRIMARY KEY CLUSTERED 
(
	[idPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[nameRole] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SER_BUILD]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SER_BUILD](
	[idService] [int] NOT NULL,
	[idBuild] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idService] ASC,
	[idBuild] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SERVICES]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICES](
	[idService] [int] IDENTITY(1,1) NOT NULL,
	[typeService] [nvarchar](22) NULL,
	[nameService] [nvarchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[idService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[idStatus] [int] IDENTITY(1,1) NOT NULL,
	[nameStatuts] [nvarchar](50) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[idType] [int] IDENTITY(1,1) NOT NULL,
	[nameType] [nvarchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[idRole] [int] NOT NULL,
	[userName] [nvarchar](50) NULL,
	[userPassword] [nvarchar](300) NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](55) NULL,
	[Phone] [nvarchar](12) NULL,
	[Address] [nvarchar](55) NULL,
 CONSTRAINT [PK__USER__3717C98241A4D881] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WARD]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WARD](
	[idWard] [int] IDENTITY(1,1) NOT NULL,
	[nameWard] [nvarchar](255) NULL,
	[idDistrict] [int] NOT NULL,
 CONSTRAINT [PK__WARD__9B850F606D67F0CB] PRIMARY KEY CLUSTERED 
(
	[idWard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BUILDING] ON 

INSERT [dbo].[BUILDING] ([idBuild], [idWard], [idUser], [idType], [nameBuild], [street], [floorarea], [floor], [conent], [price], [depositDate], [nameManager], [phoneManager], [idHuong], [idStatus], [deposits]) VALUES (8, 3, 31, 3, N'President Place Tower', N'Nguyễn Du', CAST(100 AS Decimal(18, 0)), 12, N'<p>chưa c&oacute;</p>
', CAST(2000000 AS Decimal(18, 0)), N'48', N'huy', N'075432345678', 2, 1, N'3')
SET IDENTITY_INSERT [dbo].[BUILDING] OFF
SET IDENTITY_INSERT [dbo].[CITY] ON 

INSERT [dbo].[CITY] ([idCity], [nameCity]) VALUES (1, N'An Giang')
INSERT [dbo].[CITY] ([idCity], [nameCity]) VALUES (2, N'Bạc Liêu')
INSERT [dbo].[CITY] ([idCity], [nameCity]) VALUES (3, N'Bến Tre')
SET IDENTITY_INSERT [dbo].[CITY] OFF
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([idCustom], [nameCustom], [phoneCustom], [emailCustom], [addressCustom]) VALUES (1, N'Phạm Ngọc Vinh', N'0707743501', N'vinhpham@gmail.com', N'thủ đức')
INSERT [dbo].[CUSTOMER] ([idCustom], [nameCustom], [phoneCustom], [emailCustom], [addressCustom]) VALUES (2, N'Trần Minh Tuấn', N'0788773852', N'tuan1491998@gmail.com', N'Bình Thạnh')
INSERT [dbo].[CUSTOMER] ([idCustom], [nameCustom], [phoneCustom], [emailCustom], [addressCustom]) VALUES (12, N'Nghiêm Quốc Anh Minh', N'0339895154', N'nghiemminh1904@gmail.com', N'thủ đức')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
SET IDENTITY_INSERT [dbo].[DISTRICT] ON 

INSERT [dbo].[DISTRICT] ([idDistrict], [nameDistrict], [idCity]) VALUES (23, N'Quận 1', 14)
INSERT [dbo].[DISTRICT] ([idDistrict], [nameDistrict], [idCity]) VALUES (24, N'Quận 2', 14)
INSERT [dbo].[DISTRICT] ([idDistrict], [nameDistrict], [idCity]) VALUES (25, N'Quận 3', 14)
SET IDENTITY_INSERT [dbo].[DISTRICT] OFF
SET IDENTITY_INSERT [dbo].[HUONG] ON 

INSERT [dbo].[HUONG] ([idHuong], [nameHuong]) VALUES (1, N'Tây')
INSERT [dbo].[HUONG] ([idHuong], [nameHuong]) VALUES (2, N'Nam')
INSERT [dbo].[HUONG] ([idHuong], [nameHuong]) VALUES (3, N'Bắc')
SET IDENTITY_INSERT [dbo].[HUONG] OFF
SET IDENTITY_INSERT [dbo].[IMAGE] ON 

INSERT [dbo].[IMAGE] ([idImage], [nameImage], [idBuild]) VALUES (21, N'center point.jpg', 7)
INSERT [dbo].[IMAGE] ([idImage], [nameImage], [idBuild]) VALUES (22, N'President-Place-2-MaisonOffice.jpg', 8)
INSERT [dbo].[IMAGE] ([idImage], [nameImage], [idBuild]) VALUES (24, N'3g-building-cho-thue-van-phong-quan-3-02.jpg', 10)
SET IDENTITY_INSERT [dbo].[IMAGE] OFF
SET IDENTITY_INSERT [dbo].[NEWS] ON 

SET IDENTITY_INSERT [dbo].[NEWS] OFF
SET IDENTITY_INSERT [dbo].[PHIEUHEN] ON 

INSERT [dbo].[PHIEUHEN] ([idPhieu], [idCustom], [idUserNV], [idBuild], [contentPhieu], [createPhieu], [ngayhen]) VALUES (3, 2, 1, 7, N'Không có', CAST(N'2020-05-18 17:37:58.260' AS DateTime), CAST(N'2020-05-19 08:30:00.000' AS DateTime))
INSERT [dbo].[PHIEUHEN] ([idPhieu], [idCustom], [idUserNV], [idBuild], [contentPhieu], [createPhieu], [ngayhen]) VALUES (4, 1, 1, 7, N'không có', CAST(N'2020-05-18 17:47:25.123' AS DateTime), CAST(N'2020-05-20 08:30:00.000' AS DateTime))
INSERT [dbo].[PHIEUHEN] ([idPhieu], [idCustom], [idUserNV], [idBuild], [contentPhieu], [createPhieu], [ngayhen]) VALUES (5, 1, 31, 7, N'ádsadas', CAST(N'2020-05-18 20:53:30.447' AS DateTime), CAST(N'2020-05-18 11:11:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PHIEUHEN] OFF
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([idRole], [nameRole]) VALUES (1, N'Quản Trị Viên')
INSERT [dbo].[ROLE] ([idRole], [nameRole]) VALUES (2, N'Nhân Viên Quản Trị')
INSERT [dbo].[ROLE] ([idRole], [nameRole]) VALUES (3, N'Nhân Viên Tư Vấn')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
SET IDENTITY_INSERT [dbo].[STATUS] ON 

INSERT [dbo].[STATUS] ([idStatus], [nameStatuts]) VALUES (1, N'Chưa cho thuê')
INSERT [dbo].[STATUS] ([idStatus], [nameStatuts]) VALUES (2, N'Đã cho thuê')
INSERT [dbo].[STATUS] ([idStatus], [nameStatuts]) VALUES (3, N'Hết chỗ')
SET IDENTITY_INSERT [dbo].[STATUS] OFF
SET IDENTITY_INSERT [dbo].[TYPE] ON 

INSERT [dbo].[TYPE] ([idType], [nameType]) VALUES (1, N'Văn phòng hạng A')
INSERT [dbo].[TYPE] ([idType], [nameType]) VALUES (2, N'Văn Phòng hạng B')
INSERT [dbo].[TYPE] ([idType], [nameType]) VALUES (3, N'Văn phòng hạng C')
SET IDENTITY_INSERT [dbo].[TYPE] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([idUser], [idRole], [userName], [userPassword], [FullName], [Email], [Phone], [Address]) VALUES (1, 1, N'admin', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'ADMIN', N'admin@gmail.com', N'01234567789', N'Hutech')
INSERT [dbo].[USER] ([idUser], [idRole], [userName], [userPassword], [FullName], [Email], [Phone], [Address]) VALUES (3, 2, N'minh', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'Nghiêm Quốc Anh Minh', N'nghiemminh1904@gmail.com', N'0339895154', N'thủ đức')
INSERT [dbo].[USER] ([idUser], [idRole], [userName], [userPassword], [FullName], [Email], [Phone], [Address]) VALUES (13, 2, N'tuan', N'6B86B273FF34FCE19D6B804EFF5A3F5747ADA4EAA22F1D49C01E52DDB7875B4B', N'Trần Thanh Tuấn', N'tuan@gmail.com', N'0334456777', N'quận 4')
SET IDENTITY_INSERT [dbo].[USER] OFF
SET IDENTITY_INSERT [dbo].[WARD] ON 

INSERT [dbo].[WARD] ([idWard], [nameWard], [idDistrict]) VALUES (1, N'Phường Tân Định', 23)
INSERT [dbo].[WARD] ([idWard], [nameWard], [idDistrict]) VALUES (2, N'Phường Đa Kao', 23)
INSERT [dbo].[WARD] ([idWard], [nameWard], [idDistrict]) VALUES (3, N'Phường Bến Nghé', 23)
GO
SET IDENTITY_INSERT [dbo].[WARD] OFF
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK__BILL__idBuild__30F848ED] FOREIGN KEY([idBuild])
REFERENCES [dbo].[BUILDING] ([idBuild])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK__BILL__idBuild__30F848ED]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_CUSTOMER] FOREIGN KEY([idCustom])
REFERENCES [dbo].[CUSTOMER] ([idCustom])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_CUSTOMER]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_USER] FOREIGN KEY([idUserNV])
REFERENCES [dbo].[USER] ([idUser])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_USER]
GO
ALTER TABLE [dbo].[BUILDING]  WITH CHECK ADD  CONSTRAINT [FK__BUILDING__idType__31EC6D26] FOREIGN KEY([idType])
REFERENCES [dbo].[TYPE] ([idType])
GO
ALTER TABLE [dbo].[BUILDING] CHECK CONSTRAINT [FK__BUILDING__idType__31EC6D26]
GO
ALTER TABLE [dbo].[BUILDING]  WITH CHECK ADD  CONSTRAINT [FK__BUILDING__idUser__29572725] FOREIGN KEY([idUser])
REFERENCES [dbo].[USER] ([idUser])
GO
ALTER TABLE [dbo].[BUILDING] CHECK CONSTRAINT [FK__BUILDING__idUser__29572725]
GO
ALTER TABLE [dbo].[BUILDING]  WITH CHECK ADD  CONSTRAINT [FK__BUILDING__idWard__35BCFE0A] FOREIGN KEY([idWard])
REFERENCES [dbo].[WARD] ([idWard])
GO
ALTER TABLE [dbo].[BUILDING] CHECK CONSTRAINT [FK__BUILDING__idWard__35BCFE0A]
GO
ALTER TABLE [dbo].[BUILDING]  WITH CHECK ADD  CONSTRAINT [FK_BUILDING_HUONG] FOREIGN KEY([idHuong])
REFERENCES [dbo].[HUONG] ([idHuong])
GO
ALTER TABLE [dbo].[BUILDING] CHECK CONSTRAINT [FK_BUILDING_HUONG]
GO
ALTER TABLE [dbo].[BUILDING]  WITH CHECK ADD  CONSTRAINT [FK_BUILDING_STATUS] FOREIGN KEY([idStatus])
REFERENCES [dbo].[STATUS] ([idStatus])
GO
ALTER TABLE [dbo].[BUILDING] CHECK CONSTRAINT [FK_BUILDING_STATUS]
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD FOREIGN KEY([idCity])
REFERENCES [dbo].[CITY] ([idCity])
GO
ALTER TABLE [dbo].[IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_BUILDING] FOREIGN KEY([idBuild])
REFERENCES [dbo].[BUILDING] ([idBuild])
GO
ALTER TABLE [dbo].[IMAGE] CHECK CONSTRAINT [FK_IMAGE_BUILDING]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK__NEWS__idUser__286302EC] FOREIGN KEY([idUser])
REFERENCES [dbo].[USER] ([idUser])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK__NEWS__idUser__286302EC]
GO
ALTER TABLE [dbo].[PHIEUHEN]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUHEN__idBuil__2E1BDC42] FOREIGN KEY([idBuild])
REFERENCES [dbo].[BUILDING] ([idBuild])
GO
ALTER TABLE [dbo].[PHIEUHEN] CHECK CONSTRAINT [FK__PHIEUHEN__idBuil__2E1BDC42]
GO
ALTER TABLE [dbo].[PHIEUHEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUHEN_CUSTOMER] FOREIGN KEY([idCustom])
REFERENCES [dbo].[CUSTOMER] ([idCustom])
GO
ALTER TABLE [dbo].[PHIEUHEN] CHECK CONSTRAINT [FK_PHIEUHEN_CUSTOMER]
GO
ALTER TABLE [dbo].[PHIEUHEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUHEN_USER] FOREIGN KEY([idUserNV])
REFERENCES [dbo].[USER] ([idUser])
GO
ALTER TABLE [dbo].[PHIEUHEN] CHECK CONSTRAINT [FK_PHIEUHEN_USER]
GO
ALTER TABLE [dbo].[SER_BUILD]  WITH CHECK ADD  CONSTRAINT [FK__SER_BUILD__idBui__2F10007B] FOREIGN KEY([idBuild])
REFERENCES [dbo].[BUILDING] ([idBuild])
GO
ALTER TABLE [dbo].[SER_BUILD] CHECK CONSTRAINT [FK__SER_BUILD__idBui__2F10007B]
GO
ALTER TABLE [dbo].[SER_BUILD]  WITH CHECK ADD FOREIGN KEY([idService])
REFERENCES [dbo].[SERVICES] ([idService])
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK__USER__idRole__276EDEB3] FOREIGN KEY([idRole])
REFERENCES [dbo].[ROLE] ([idRole])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK__USER__idRole__276EDEB3]
GO
ALTER TABLE [dbo].[WARD]  WITH CHECK ADD  CONSTRAINT [FK__WARD__idDistrict__34C8D9D1] FOREIGN KEY([idDistrict])
REFERENCES [dbo].[DISTRICT] ([idDistrict])
GO
ALTER TABLE [dbo].[WARD] CHECK CONSTRAINT [FK__WARD__idDistrict__34C8D9D1]
GO
/****** Object:  StoredProcedure [dbo].[proc_CryptData]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[proc_CryptData] (@Data varchar(255))
as
begin
declare @Result varchar(256)
set @Result = dbo.func_CryptData(@Data)
select top 1 @Result
end

GO
/****** Object:  Trigger [dbo].[trg_AutoCryptPassword]    Script Date: 5/24/2020 10:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_AutoCryptPassword] on [dbo].[USER]
for insert, update
as
begin
	if UPDATE([userPassword])
	begin
		declare @id int
		declare @Password varchar(256)
		select @Password = [userPassword], @id = IdUser from inserted
		set @Password = dbo.func_CryptData(@Password)
		update [USER] set [userPassword] = @Password where IdUser = @id
	end
end

GO
USE [master]
GO
